{{ 'landingpage.css' | asset_url | stylesheet_tag }}
<script src="{{ 'landingpage.js' | asset_url }}" defer="defer"></script>
<custom-page-customization>
  <div class="landing_page_container">
    <div class="landing_page_left">
      <h1>HELLO WORLD</h1>
    </div>

    <div class="landing_page_right">
      <h2 class="guideline_settings_ai">
        <svg id="custom_Layer_1_ai" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"
          width="35" height="35" style=" color : blue ; ">
          <path
            d="M39.31467,16.47815,35.24,15.70863a.84215.84215,0,0,1-.64247-.56154,15.24681,15.24681,0,0,0-.8467-2.03469.84066.84066,0,0,1,.0557-.85268L36.15481,8.821A.83967.83967,0,0,0,36.05457,7.753l-1.8742-1.87153L32.30617,4.01a.84266.84266,0,0,0-1.06945-.1001L27.80815,6.24452a.84331.84331,0,0,1-.85587.05459,15.29244,15.29244,0,0,0-2.13235-.88518.84113.84113,0,0,1-.56413-.64212L23.48167.68436A.84145.84145,0,0,0,22.65458,0H17.34543a.84144.84144,0,0,0-.8271.68436l-.77414,4.08745a.84112.84112,0,0,1-.56413.64212,15.29273,15.29273,0,0,0-2.13235.88518.8433.8433,0,0,1-.85587-.05459L8.76328,3.90988A.84265.84265,0,0,0,7.69383,4.01L5.81963,5.88151,3.94543,7.753A.83967.83967,0,0,0,3.84519,8.821l2.34825,3.43874a.84066.84066,0,0,1,.0557.85268,15.2468,15.2468,0,0,0-.8467,2.03469.84215.84215,0,0,1-.64247.56154l-4.07463.76952A.84088.84088,0,0,0,0,17.30407v5.2935a.84088.84088,0,0,0,.68533.82592l4.03905.7628a.83947.83947,0,0,1,.6433.56378,15.24576,15.24576,0,0,0,.88887,2.15527.83987.83987,0,0,1-.05573.85252l-2.3401,3.4268A.83967.83967,0,0,0,3.961,32.25259l1.8742,1.87153,1.8742,1.87153a.84266.84266,0,0,0,1.06945.1001l3.42424-2.3317a.84337.84337,0,0,1,.85535-.05485,15.293,15.293,0,0,0,2.12212.87993.84121.84121,0,0,1,.56425.64217l.77355,4.08434A.84144.84144,0,0,0,17.34543,40h5.30915a.84145.84145,0,0,0,.8271-.68436l.77355-4.08434a.8412.8412,0,0,1,.56425-.64217,15.29337,15.29337,0,0,0,2.12212-.87993.84336.84336,0,0,1,.85535.05485l3.42424,2.3317a.84266.84266,0,0,0,1.06945-.1001l1.8742-1.87153,1.8742-1.87153a.83968.83968,0,0,0,.10024-1.06793l-2.3401-3.4268a.83987.83987,0,0,1-.05573-.85252,15.24511,15.24511,0,0,0,.88886-2.15527.83948.83948,0,0,1,.6433-.56378l4.03905-.7628A.84087.84087,0,0,0,40,22.59757v-5.2935A.84087.84087,0,0,0,39.31467,16.47815Zm-19.31872,13.054a9.53069,9.53069,0,1,1,9.54426-9.53068A9.53747,9.53747,0,0,1,19.99595,29.53215Z">
          </path>
        </svg>
        <path
          d="M39.31467,16.47815,35.24,15.70863a.84215.84215,0,0,1-.64247-.56154,15.24681,15.24681,0,0,0-.8467-2.03469.84066.84066,0,0,1,.0557-.85268L36.15481,8.821A.83967.83967,0,0,0,36.05457,7.753l-1.8742-1.87153L32.30617,4.01a.84266.84266,0,0,0-1.06945-.1001L27.80815,6.24452a.84331.84331,0,0,1-.85587.05459,15.29244,15.29244,0,0,0-2.13235-.88518.84113.84113,0,0,1-.56413-.64212L23.48167.68436A.84145.84145,0,0,0,22.65458,0H17.34543a.84144.84144,0,0,0-.8271.68436l-.77414,4.08745a.84112.84112,0,0,1-.56413.64212,15.29273,15.29273,0,0,0-2.13235.88518.8433.8433,0,0,1-.85587-.05459L8.76328,3.90988A.84265.84265,0,0,0,7.69383,4.01L5.81963,5.88151,3.94543,7.753A.83967.83967,0,0,0,3.84519,8.821l2.34825,3.43874a.84066.84066,0,0,1,.0557.85268,15.2468,15.2468,0,0,0-.8467,2.03469.84215.84215,0,0,1-.64247.56154l-4.07463.76952A.84088.84088,0,0,0,0,17.30407v5.2935a.84088.84088,0,0,0,.68533.82592l4.03905.7628a.83947.83947,0,0,1,.6433.56378,15.24576,15.24576,0,0,0,.88887,2.15527.83987.83987,0,0,1-.05573.85252l-2.3401,3.4268A.83967.83967,0,0,0,3.961,32.25259l1.8742,1.87153,1.8742,1.87153a.84266.84266,0,0,0,1.06945.1001l3.42424-2.3317a.84337.84337,0,0,1,.85535-.05485,15.293,15.293,0,0,0,2.12212.87993.84121.84121,0,0,1,.56425.64217l.77355,4.08434A.84144.84144,0,0,0,17.34543,40h5.30915a.84145.84145,0,0,0,.8271-.68436l.77355-4.08434a.8412.8412,0,0,1,.56425-.64217,15.29337,15.29337,0,0,0,2.12212-.87993.84336.84336,0,0,1,.85535.05485l3.42424,2.3317a.84266.84266,0,0,0,1.06945-.1001l1.8742-1.87153,1.8742-1.87153a.83968.83968,0,0,0,.10024-1.06793l-2.3401-3.4268a.83987.83987,0,0,1-.05573-.85252,15.24511,15.24511,0,0,0,.88886-2.15527.83948.83948,0,0,1,.6433-.56378l4.03905-.7628A.84087.84087,0,0,0,40,22.59757v-5.2935A.84087.84087,0,0,0,39.31467,16.47815Zm-19.31872,13.054a9.53069,9.53069,0,1,1,9.54426-9.53068A9.53747,9.53747,0,0,1,19.99595,29.53215Z">
        </path> <span class="settings_span_ai">settings</span>
        <b></b>
      </h2>
      <div class="right_content_container">
        <div class="settings_buttons_container_ai">
          {% comment %} =============First Input SIZE UNIT============== {% endcomment %}

          <div class="radio_buttons_sizeunit_ai">
            <label class="size_unit_label_ai">Size Unit</label>
            <div class="custom_radio_buttons_wrapper_one">
              <input type="radio" class="size_radio_button_ai" name="unit" value="mm" id="unitmm" checked="">
              <label for="unitmm" class="mm_unit_label_ai">mm</label>
              <input type="radio" class="size_radio_button_ai" name="unit" value="in" id="unitin">
              <label for="unitin" class="in_unit_label_ai">Inches</label>
            </div>
          </div>
          {% comment %} =============second Input PAPER SIZE============== {% endcomment %}

          <div class="paper_setting_radio_buttons_ai">
            <label class="paper_label_ai">Paper Size</label>
            <div class="paper_radio_buttons_wrapper">
              <input type="radio" class="a4_radio_button" name="size" value="a4" id="sizea4" checked="">
              <label for="sizea4" class="label_a4_ai">A4</label>
              <input type="radio" class="a3_radio_button" name="size" value="a3" id="sizea3">
              <label for="sizea3" class="label_a3_ai">A3</label>
            </div>
          </div>
          {% comment %} =============third Input oriantation============== {% endcomment %}
          <div class="Orient_radio_buttons">
            <label class="orient_main_label">Orientation</label>
            <div class="Orient_radio_buttons_wrapper">
              <input type="radio" class="Orient_portrait_radio_button" name="orientation" value="portrait"
                id="orientationportrait" checked="">
              <label for="orientationportrait" class="Orient_portrait_label">Portrait</label>
              <input type="radio" class="Orient_landscape_radio_button" name="orientation" value="landscape"
                id="orientationlandscape">
              <label for="orientationlandscape" class="Orient_landscape_label">Landscape</label>
            </div>
          </div>
        </div>
        <div class="information_guideline_container_ai">

          <div class="info_container_settings_ai custom_input_buttons_cs">&nbsp;&nbsp;
            <label for="ascenderinput" class="Ascender_label_cs">Ascender</label>&nbsp;&nbsp;
            <span class="Ascender_input_wrapper_unit_container"><input type="number" id="ascenderinput" name="ascender"
                size="2" value="5" step="0.01" class="Ascender_input_number"><span id="Ascender_label_mm"
                class="unit">mm</span></span>
          </div>
          <div class="body_settings_cs body_input_buttons">&nbsp;&nbsp;
            <label for="bodyinput" class="body_label_ai">Body</label>&nbsp;&nbsp;
            <span class="body_input_wrapper_unit"><input type="number" id="bodyinput" name="body" size="2" value="5"
                step="0.01" class="body_input_value_cs"><span id="body_span_label_unit_mm" class="unit">mm</span></span>
          </div>
          <div class="descender_setting_ai descender_input_buttons">&nbsp;&nbsp;
            <label for="descenderinput" class="descender_label_ai">Descender</label>&nbsp;&nbsp;
            <span class="descender_input_wrapper_unit"><input type="number" class="descender_input_value_field"
                id="descenderinput" name="descender" size="2" value="5" step="0.01"><span
                id="descender_label_cs_ai_unit" class="unit">mm</span></span>
          </div>
          <div class="Interlinear_setting_ai Interlinear_input_buttons">&nbsp;&nbsp;
            <label for="interlinearspaceinput" class="Interlinear_label_ai">Interlinear Space</label>&nbsp;&nbsp;
            <span class="Interlinear_input_wrapper_unit"><input type="number" class="Interlinear_input_field_ai"
                id="interlinearspaceinput" name="interlinearspace" size="2" value="10" step="0.01"><span
                id="Interlinear_label_span_ai" class="unit">mm</span></span>
          </div>
        </div>
        <div class="slider_transform_settings_row">
          <div class="slider_settings_range_container xrange">&nbsp;&nbsp;
            <span class="x_range_label_wrapper"><label for="slantLines" class="xslant_lines_label">Slant Lines</label>
              <input class="x_input_range_degree_text" type="text" value="90 degrees" name="angleDisplay"
                for="angle"></span>
            <input class="xe_input_range_angle_slide" type="range" name="angle" id="slantLines" min="25" max="90"
              value="90" step="5">
          </div>
        </div>
        {% comment %} <h1>i am landing_page_right</h1> {% endcomment %}
      </div>
    </div>
</custom-page-customization>


{% schema %}
{
"name": "landing-page",
"settings": []
}
{% endschema %}