{{ 'landingpage.css' | asset_url | stylesheet_tag }}
<script src="{{ 'landingpage.js' | asset_url }}" defer="defer"></script>
<custom-page-customization>
  <div class="landing_page_container">
    {% comment %} ====================landing page left =============== {% endcomment %}
    <div class="landing_page_left">
      <div class="guidlines_preview_container_main">
        <h1>HELLO WORLD</h1>
        <div class="vertical_svg_lines_cs">
         <svg width="100%" height="500">
          <rect width="100" height="100" fill="none"/>

            <g>
              <line x1="0" y1="0" x2="0" y2="250" class="slant_lines" />
              <line x1="10" y1="0" x2="10" y2="250" class="slant_lines" />
              <line x1="20" y1="0" x2="20" y2="250" class="slant_lines" />
              <line x1="30" y1="0" x2="30" y2="250" class="slant_lines" />
              <line x1="40" y1="0" x2="40" y2="250" class="slant_lines" />
              <line x1="50" y1="0" x2="50" y2="250" class="slant_lines" />
              <line x1="60" y1="0" x2="60" y2="250" class="slant_lines" />
              <line x1="70" y1="0" x2="70" y2="250" class="slant_lines" />
              <line x1="80" y1="0" x2="80" y2="250" class="slant_lines" />
              <line x1="90" y1="0" x2="90" y2="250" class="slant_lines" />
              <line x1="100" y1="0" x2="100" y2="250" class="slant_lines" />
              <line x1="110" y1="0" x2="110" y2="250" class="slant_lines" />
              <line x1="120" y1="0" x2="120" y2="250" class="slant_lines" />
              <line x1="130" y1="0" x2="130" y2="250" class="slant_lines" />
              <line x1="140" y1="0" x2="140" y2="250" class="slant_lines" />
              <line x1="150" y1="0" x2="150" y2="250" class="slant_lines" />
              <line x1="160" y1="0" x2="160" y2="250" class="slant_lines" />
              <line x1="170" y1="0" x2="170" y2="250" class="slant_lines" />
              <line x1="180" y1="0" x2="180" y2="250" class="slant_lines" />
              <line x1="190" y1="0" x2="190" y2="250" class="slant_lines" />
              <line x1="200" y1="0" x2="200" y2="250" class="slant_lines" />
              <line x1="210" y1="0" x2="210" y2="250" class="slant_lines" />
              <line x1="220" y1="0" x2="220" y2="250" class="slant_lines" />
              <line x1="230" y1="0" x2="230" y2="250" class="slant_lines" />
              <line x1="240" y1="0" x2="240" y2="250" class="slant_lines" />
              <line x1="250" y1="0" x2="250" y2="250" class="slant_lines" />
              <line x1="260" y1="0" x2="260" y2="250" class="slant_lines" />
              <line x1="270" y1="0" x2="270" y2="250" class="slant_lines" />
              <line x1="280" y1="0" x2="280" y2="250" class="slant_lines" />
              <line x1="290" y1="0" x2="290" y2="250" class="slant_lines" />
              <line x1="300" y1="0" x2="300" y2="250" class="slant_lines" />
              <line x1="310" y1="0" x2="310" y2="250" class="slant_lines" />
              <line x1="320" y1="0" x2="320" y2="250" class="slant_lines" />
              <line x1="330" y1="0" x2="330" y2="250" class="slant_lines" />
              <line x1="340" y1="0" x2="340" y2="250" class="slant_lines" />
              <line x1="350" y1="0" x2="350" y2="250" class="slant_lines" />
              <line x1="360" y1="0" x2="360" y2="250" class="slant_lines" />
              <line x1="370" y1="0" x2="370" y2="250" class="slant_lines" />
              <line x1="380" y1="0" x2="380" y2="250" class="slant_lines" />
              <line x1="390" y1="0" x2="390" y2="250" class="slant_lines" />
              <line x1="400" y1="0" x2="400" y2="250" class="slant_lines" />
              <line x1="410" y1="0" x2="410" y2="250" class="slant_lines" />
              <line x1="420" y1="0" x2="420" y2="250" class="slant_lines" />
              <line x1="430" y1="0" x2="430" y2="250" class="slant_lines" />
              <line x1="440" y1="0" x2="440" y2="250" class="slant_lines" />
              <line x1="450" y1="0" x2="450" y2="250" class="slant_lines" />
              <line x1="460" y1="0" x2="460" y2="250" class="slant_lines" />
              <line x1="470" y1="0" x2="470" y2="250" class="slant_lines" />
              <line x1="480" y1="0" x2="480" y2="250" class="slant_lines" />
              <line x1="490" y1="0" x2="490" y2="250" class="slant_lines" />
              <line x1="500" y1="0" x2="500" y2="250" class="slant_lines" />
              <line x1="510" y1="0" x2="510" y2="250" class="slant_lines" />
              <line x1="520" y1="0" x2="520" y2="250" class="slant_lines" />
              <line x1="530" y1="0" x2="530" y2="250" class="slant_lines" />
              <line x1="540" y1="0" x2="540" y2="250" class="slant_lines" />
              <line x1="550" y1="0" x2="550" y2="250" class="slant_lines" />
              <line x1="560" y1="0" x2="560" y2="250" class="slant_lines" />
              <line x1="570" y1="0" x2="570" y2="250" class="slant_lines" />
              <line x1="580" y1="0" x2="580" y2="250" class="slant_lines" />
              <line x1="590" y1="0" x2="590" y2="250" class="slant_lines" />
              <line x1="600" y1="0" x2="600" y2="250" class="slant_lines" />
              <line x1="610" y1="0" x2="610" y2="250" class="slant_lines" />
              <line x1="620" y1="0" x2="620" y2="250" class="slant_lines" />
              <line x1="630" y1="0" x2="630" y2="250" class="slant_lines" />
              <line x1="640" y1="0" x2="640" y2="250" class="slant_lines" />
              <line x1="650" y1="0" x2="650" y2="250" class="slant_lines" />
              <line x1="660" y1="0" x2="660" y2="250" class="slant_lines" />
              <line x1="670" y1="0" x2="670" y2="250" class="slant_lines" />
              <line x1="680" y1="0" x2="680" y2="250" class="slant_lines" />
              <line x1="690" y1="0" x2="690" y2="250" class="slant_lines" />
              <line x1="700" y1="0" x2="700" y2="250" class="slant_lines" />
              <line x1="710" y1="0" x2="710" y2="250" class="slant_lines" />
              <line x1="720" y1="0" x2="720" y2="250" class="slant_lines" />
              <line x1="730" y1="0" x2="730" y2="250" class="slant_lines" />
              <line x1="740" y1="0" x2="740" y2="250" class="slant_lines" />
              <line x1="750" y1="0" x2="750" y2="250" class="slant_lines" />
              <line x1="760" y1="0" x2="760" y2="250" class="slant_lines" />
              <line x1="770" y1="0" x2="770" y2="250" class="slant_lines" />
              <line x1="780" y1="0" x2="780" y2="250" class="slant_lines" />
              <line x1="790" y1="0" x2="790" y2="250" class="slant_lines" />
              <line x1="800" y1="0" x2="800" y2="250" class="slant_lines" />
              <line x1="810" y1="0" x2="810" y2="250" class="slant_lines" />
              <line x1="820" y1="0" x2="820" y2="250" class="slant_lines" />
              <line x1="830" y1="0" x2="830" y2="250" class="slant_lines" />
              <line x1="840" y1="0" x2="840" y2="250" class="slant_lines" />
              <line x1="850" y1="0" x2="850" y2="250" class="slant_lines" />
              <line x1="860" y1="0" x2="860" y2="250" class="slant_lines" />
              <line x1="870" y1="0" x2="870" y2="250" class="slant_lines" />
              <line x1="880" y1="0" x2="880" y2="250" class="slant_lines" />
              <line x1="890" y1="0" x2="890" y2="250" class="slant_lines" />
              <line x1="900" y1="0" x2="900" y2="250" class="slant_lines" />
              <line x1="910" y1="0" x2="910" y2="250" class="slant_lines" />
              <line x1="920" y1="0" x2="920" y2="250" class="slant_lines" />
              <line x1="930" y1="0" x2="930" y2="250" class="slant_lines" />
              <line x1="940" y1="0" x2="940" y2="250" class="slant_lines" />
              <line x1="950" y1="0" x2="950" y2="250" class="slant_lines" />
              <line x1="960" y1="0" x2="960" y2="250" class="slant_lines" />
              <line x1="970" y1="0" x2="970" y2="250" class="slant_lines" />
              <line x1="980" y1="0" x2="980" y2="250" class="slant_lines" />
              <line x1="990" y1="0" x2="990" y2="250" class="slant_lines" />
              <line x1="1000" y1="0" x2="1000" y2="250" class="slant_lines" />
              <rect class="lineAscender" x="0" y="0" width="600" height="3" style="fill:#888"></rect>
              <text class="textAscender" x="150" y="30" style="fill:#152234;;font-size:19px">Ascender</text>
              <rect class="lineBody" x="0" y="50" width="600" height="3" style="fill:#888;"></rect>
              <text class="textBody" x="150" y="80" style="fill:#152234;;font-size:19px">Body</text>
              <rect class="lineDescender" x="0" y="100" width="600" height="3" style="fill:#888;"></rect>
			    <text class="textDescender" x="150" y="130" style="fill:#152234;;font-size:19px">Descender</text>
              <rect class="lineSpace" x="0" y="150" width="600" height="3" style="fill:#888;"></rect>

			    <text class="textSpace" x="150" y="180" style="fill:#152234;;font-size:19px">Interlinear Space</text>

              <rect class="lineSpace-bottom" x="0" y="250" width="600" height="3" style="fill:#eee;"></rect>
              </g>
              </svg> 
              <g>
            </g>
            <g>
			</g>
        </div>
      </div>
    </div>
    {% comment %} ====================landing page left ends ============== {% endcomment %}

    {% comment %} ====================landing page right ============== {% endcomment %}
    <div class="landing_page_right">
      <h2 class="guideline_settings_ai">
        <svg id="custom_Layer_1_ai" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"
          width="35" height="35" style=" color : blue ; ">
          <path
            d="M39.31467,16.47815,35.24,15.70863a.84215.84215,0,0,1-.64247-.56154,15.24681,15.24681,0,0,0-.8467-2.03469.84066.84066,0,0,1,.0557-.85268L36.15481,8.821A.83967.83967,0,0,0,36.05457,7.753l-1.8742-1.87153L32.30617,4.01a.84266.84266,0,0,0-1.06945-.1001L27.80815,6.24452a.84331.84331,0,0,1-.85587.05459,15.29244,15.29244,0,0,0-2.13235-.88518.84113.84113,0,0,1-.56413-.64212L23.48167.68436A.84145.84145,0,0,0,22.65458,0H17.34543a.84144.84144,0,0,0-.8271.68436l-.77414,4.08745a.84112.84112,0,0,1-.56413.64212,15.29273,15.29273,0,0,0-2.13235.88518.8433.8433,0,0,1-.85587-.05459L8.76328,3.90988A.84265.84265,0,0,0,7.69383,4.01L5.81963,5.88151,3.94543,7.753A.83967.83967,0,0,0,3.84519,8.821l2.34825,3.43874a.84066.84066,0,0,1,.0557.85268,15.2468,15.2468,0,0,0-.8467,2.03469.84215.84215,0,0,1-.64247.56154l-4.07463.76952A.84088.84088,0,0,0,0,17.30407v5.2935a.84088.84088,0,0,0,.68533.82592l4.03905.7628a.83947.83947,0,0,1,.6433.56378,15.24576,15.24576,0,0,0,.88887,2.15527.83987.83987,0,0,1-.05573.85252l-2.3401,3.4268A.83967.83967,0,0,0,3.961,32.25259l1.8742,1.87153,1.8742,1.87153a.84266.84266,0,0,0,1.06945.1001l3.42424-2.3317a.84337.84337,0,0,1,.85535-.05485,15.293,15.293,0,0,0,2.12212.87993.84121.84121,0,0,1,.56425.64217l.77355,4.08434A.84144.84144,0,0,0,17.34543,40h5.30915a.84145.84145,0,0,0,.8271-.68436l.77355-4.08434a.8412.8412,0,0,1,.56425-.64217,15.29337,15.29337,0,0,0,2.12212-.87993.84336.84336,0,0,1,.85535.05485l3.42424,2.3317a.84266.84266,0,0,0,1.06945-.1001l1.8742-1.87153,1.8742-1.87153a.83968.83968,0,0,0,.10024-1.06793l-2.3401-3.4268a.83987.83987,0,0,1-.05573-.85252,15.24511,15.24511,0,0,0,.88886-2.15527.83948.83948,0,0,1,.6433-.56378l4.03905-.7628A.84087.84087,0,0,0,40,22.59757v-5.2935A.84087.84087,0,0,0,39.31467,16.47815Zm-19.31872,13.054a9.53069,9.53069,0,1,1,9.54426-9.53068A9.53747,9.53747,0,0,1,19.99595,29.53215Z">
          </path>
        </svg>
        <path
          d="M39.31467,16.47815,35.24,15.70863a.84215.84215,0,0,1-.64247-.56154,15.24681,15.24681,0,0,0-.8467-2.03469.84066.84066,0,0,1,.0557-.85268L36.15481,8.821A.83967.83967,0,0,0,36.05457,7.753l-1.8742-1.87153L32.30617,4.01a.84266.84266,0,0,0-1.06945-.1001L27.80815,6.24452a.84331.84331,0,0,1-.85587.05459,15.29244,15.29244,0,0,0-2.13235-.88518.84113.84113,0,0,1-.56413-.64212L23.48167.68436A.84145.84145,0,0,0,22.65458,0H17.34543a.84144.84144,0,0,0-.8271.68436l-.77414,4.08745a.84112.84112,0,0,1-.56413.64212,15.29273,15.29273,0,0,0-2.13235.88518.8433.8433,0,0,1-.85587-.05459L8.76328,3.90988A.84265.84265,0,0,0,7.69383,4.01L5.81963,5.88151,3.94543,7.753A.83967.83967,0,0,0,3.84519,8.821l2.34825,3.43874a.84066.84066,0,0,1,.0557.85268,15.2468,15.2468,0,0,0-.8467,2.03469.84215.84215,0,0,1-.64247.56154l-4.07463.76952A.84088.84088,0,0,0,0,17.30407v5.2935a.84088.84088,0,0,0,.68533.82592l4.03905.7628a.83947.83947,0,0,1,.6433.56378,15.24576,15.24576,0,0,0,.88887,2.15527.83987.83987,0,0,1-.05573.85252l-2.3401,3.4268A.83967.83967,0,0,0,3.961,32.25259l1.8742,1.87153,1.8742,1.87153a.84266.84266,0,0,0,1.06945.1001l3.42424-2.3317a.84337.84337,0,0,1,.85535-.05485,15.293,15.293,0,0,0,2.12212.87993.84121.84121,0,0,1,.56425.64217l.77355,4.08434A.84144.84144,0,0,0,17.34543,40h5.30915a.84145.84145,0,0,0,.8271-.68436l.77355-4.08434a.8412.8412,0,0,1,.56425-.64217,15.29337,15.29337,0,0,0,2.12212-.87993.84336.84336,0,0,1,.85535.05485l3.42424,2.3317a.84266.84266,0,0,0,1.06945-.1001l1.8742-1.87153,1.8742-1.87153a.83968.83968,0,0,0,.10024-1.06793l-2.3401-3.4268a.83987.83987,0,0,1-.05573-.85252,15.24511,15.24511,0,0,0,.88886-2.15527.83948.83948,0,0,1,.6433-.56378l4.03905-.7628A.84087.84087,0,0,0,40,22.59757v-5.2935A.84087.84087,0,0,0,39.31467,16.47815Zm-19.31872,13.054a9.53069,9.53069,0,1,1,9.54426-9.53068A9.53747,9.53747,0,0,1,19.99595,29.53215Z">
        </path> <span class="settings_span_ai">settings</span>
        <b></b>
      </h2>
      <div class="right_content_container">
        <div class="settings_buttons_container_ai">
          {% comment %} =============First Input SIZE UNIT============== {% endcomment %}

          <div class="radio_buttons_sizeunit_ai">
            <label class="size_unit_label_ai">Size Unit</label>
            <div class="custom_radio_buttons_wrapper_one">
              <input type="radio" class="size_radio_button_ai" name="unit" value="mm" id="unitmm" checked="">
              <label for="unitmm" class="mm_unit_label_ai">mm</label>
              <input type="radio" class="size_radio_button_ai" name="unit" value="in" id="unitin">
              <label for="unitin" class="in_unit_label_ai">Inches</label>
            </div>
          </div>
          {% comment %} =============second Input PAPER SIZE============== {% endcomment %}

          <div class="paper_setting_radio_buttons_ai">
            <label class="paper_label_ai">Paper Size</label>
            <div class="paper_radio_buttons_wrapper">
              <input type="radio" class="a4_radio_button" name="size" value="a4" id="sizea4" checked="">
              <label for="sizea4" class="label_a4_ai">A4</label>
              <input type="radio" class="a3_radio_button" name="size" value="a3" id="sizea3">
              <label for="sizea3" class="label_a3_ai">A3</label>
            </div>
          </div>
          {% comment %} =============third Input oriantation============== {% endcomment %}
          <div class="Orient_radio_buttons">
            <label class="orient_main_label">Orientation</label>
            <div class="Orient_radio_buttons_wrapper">
              <input type="radio" class="Orient_portrait_radio_button" name="orientation" value="portrait"
                id="orientationportrait" checked="">
              <label for="orientationportrait" class="Orient_portrait_label">Portrait</label>
              <input type="radio" class="Orient_landscape_radio_button" name="orientation" value="landscape"
                id="orientationlandscape">
              <label for="orientationlandscape" class="Orient_landscape_label">Landscape</label>
            </div>
          </div>
        </div>
        <div class="information_guideline_container_ai">

          <div class="info_container_settings_ai custom_input_buttons_cs">&nbsp;&nbsp;
            <label for="ascenderinput" class="Ascender_label_cs">Ascender</label>&nbsp;&nbsp;
            <span class="Ascender_input_wrapper_unit_container"><input type="number" id="ascenderinput" name="ascender"
                size="2" value="5" step="0.01" class="Ascender_input_number"><span id="Ascender_label_mm"
                class="unit">mm</span></span>
          </div>
          <div class="body_settings_cs body_input_buttons">&nbsp;&nbsp;
            <label for="bodyinput" class="body_label_ai">Body</label>&nbsp;&nbsp;
            <span class="body_input_wrapper_unit"><input type="number" id="bodyinput" name="body" size="2" value="5"
                step="0.01" class="body_input_value_cs"><span id="body_span_label_unit_mm" class="unit">mm</span></span>
          </div>
          <div class="descender_setting_ai descender_input_buttons">&nbsp;&nbsp;
            <label for="descenderinput" class="descender_label_ai">Descender</label>&nbsp;&nbsp;
            <span class="descender_input_wrapper_unit"><input type="number" class="descender_input_value_field"
                id="descenderinput" name="descender" size="2" value="5" step="0.01"><span
                id="descender_label_cs_ai_unit" class="unit">mm</span></span>
          </div>
          <div class="Interlinear_setting_ai Interlinear_input_buttons">&nbsp;&nbsp;
            <label for="interlinearspaceinput" class="Interlinear_label_ai">Interlinear Space</label>&nbsp;&nbsp;
            <span class="Interlinear_input_wrapper_unit"><input type="number" class="Interlinear_input_field_ai"
                id="interlinearspaceinput" name="interlinearspace" size="2" value="10" step="0.01"><span
                id="Interlinear_label_span_ai" class="unit">mm</span></span>
          </div>
        </div>
        <div class="slider_transform_settings_row">
          <div class="slider_settings_range_container xrange">&nbsp;&nbsp;
            <span class="x_range_label_wrapper"><label for="slantLines" class="xslant_lines_label">Slant Lines</label>
              <input class="x_input_range_degree_text" type="text" value="90 degrees" name="angleDisplay"
                for="angle"></span>
            <input class="xe_input_range_angle_slide" type="range" name="angle" id="slantLines" min="25" max="90"
              value="0" step="5" dir="rtl">
          </div>
        </div>
        {% comment %} <h1>i am landing_page_right</h1> {% endcomment %}
      </div>
    </div>
</custom-page-customization>


{% schema %}
{
"name": "landing-page",
"settings": []
}
{% endschema %}